<mat-tab-group #adaptarTab>

    <mat-tab label="Lista de Filmes">
        <button (click)="logout()" style="float: right">Sair</button>

        <div fxLayout="row wrap" fxLayoutGap="16px" >

          <div fxFlex="23%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let filme of lista_filmes" >

            <mat-card fxFlexAlign="stretch">
              <mat-card-header>
                <mat-card-title>{{filme.titulo}}</mat-card-title>
                <mat-card-subtitle>{{filme.ano_lancamento}} - Avaliação: {{filme.avaliacao}}</mat-card-subtitle>
              </mat-card-header>
              <!--<img mat-card-image src="{{filme.imagemURL}}" alt="Poster">-->
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Poster">
              <mat-card-content>
                {{filme.sinopse}}
              </mat-card-content>
              <mat-card-actions>
                <button mat-button (click)="excluir(filme)">Excluir</button>
                <button mat-button (click)="editar(filme)">Editar</button>
              </mat-card-actions>
            </mat-card>

          </div>

        </div>


        <!--<table class="table">
            <thead>
                <tr>
                    <th>Título</th> ok
                    <th>Ano de Lançamento</th> ok
                    <th>Gênero</th>
                    <th>Sinopse</th> ok
                    <th>Classificação Indicativa</th>
                    <th>Crítica</th>
                    <th>Avaliação</th>
                    <th>Imagem</th>
                    <th colspan="4">Operação</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let filme of lista_filmes">
                    <td>{{filme.titulo}}</td>
                    <td>{{filme.ano_lancamento}}</td>
                    <td>{{filme.genero}}</td>
                    <td>{{filme.sinopse}}</td>
                    <td>{{filme.classificacao}}</td>
                    <td>{{filme.critica}}</td>
                    <td>{{filme.avaliacao}}</td>
                    <td><img style="width: 100%" src="{{filme.imagemURL}}"><style color="transparent"></style><td>
                    <td>
                        <button (click)="excluir(filme)">Excluir</button>
                    </td>
                    <td>
                        <button (click)="editar(filme)">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table> -->


    </mat-tab>

    <mat-tab label="Adicionar Filme">
        <fieldset id="criar-filme">
            <h1>Clique aqui para adicionar um novo filme!</h1>
            <button (click)="irParaCriarFilme()" id="btn-criar-filme">Novo Filme</button>
        </fieldset>
    </mat-tab>

</mat-tab-group>