<mat-tab-group #adaptarTab>

    <mat-tab label="Lista de Filmes">
        <button (click)="logout()">Sair</button>

        <table class="table">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Ano de Lançamento</th>
                    <th>Gênero</th>
                    <th>Sinopse</th>
                    <th>Classificação Indicativa</th>
                    <th>Crítica</th>
                    <th>Avaliação</th>
                    <th colspan="2">Operação</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let filme of lista_filmes">
                    <td>{{filme.titulo}}</td>
                    <td>{{filme.ano_lancamento}}</td>
                    <td>{{filme.genero}}</td>
                    <td>{{filme.sinopse}}</td>
                    <td>{{filme.classificacao}}</td>
                    <td>{{filme.critica}}</td>
                    <td>{{filme.avaliacao}}</td>
                    <td>
                        <button (click)="excluir(filme)">Excluir</button>
                    </td>
                    <td>
                        <button (click)="editar(filme)">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>


    </mat-tab>

    <mat-tab label="Adicionar Filme">
        <fieldset id="criar-filme">
            <h1>Clique aqui para adicionar um novo filme!</h1>
            <button (click)="irParaCriarFilme()" id="btn-criar-filme">Novo Filme</button>
        </fieldset>
    </mat-tab>

</mat-tab-group>