
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$movies-primary: mat.define-palette(mat.$indigo-palette);
$movies-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$movies-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$movies-theme: mat.define-light-theme((
  color: (
    primary: $movies-primary,
    accent: $movies-accent,
    warn: $movies-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($movies-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background-color: #A5BEFA;
  color: rgb(255, 255, 255);
  background: url(https://img.freepik.com/free-photo/arrangement-movie-elements-blue-background-with-copy-space_23-2148457886.jpg)
  no-repeat content-box fixed; 
  background-size: cover;
  font-size: 20pt;
  text-align: left;
}

form {
  position: absolute;
  background-color: white;
  color: rgb(0, 0, 0);
  font-family:'Calibri';
  font-weight: bold;
  font-size: 20px;
  padding: 15px;
  margin: 10px 600px 10px 100px;
}

#criar-filme {
  background-color: white;
  color: rgb(0, 0, 0);
  width: 800px;
  height: 300px;
}

fieldset {
  background-color: white;
  color: rgb(0, 0, 0);
  width: 800px;
  height: 950px;
  margin: 10px 220px 10px 220px;
}

table, td {
  background-color: white;
  color: rgb(0, 0, 0);
  margin: 10px 10px 10px 10px;
  font-family:'Calibri';
}

thead {
  text-align: center;
  background-color: #B3093F;
  color: white;
}

h1 {
  text-align: center;
  font-family:'Calibri';
  font-size: 40px;
  color:#B3093F;
}

h5 {
  font-family:'Calibri';
  font-size: 28px;
  color:#B3093F;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
} 

label {
  margin-right: 5px;
  font-size: 18px;
}

span{
  font-size: 20px;
  color:red;
  font-weight: bold;
}

.campo {
  border: 0;
  border-bottom: 2px solid #B3093F;
  outline: none;
  transition: .2s ease-in-out;
  box-sizing: border-box;
}

#btn-criar-filme {
  margin: 10px 300px 10px 300px;
  width: 190px;
}

button {
  border-style: unset;
  border-radius: 30px;
  height: 50px;
  width: 90px;
  bottom: 50px;
  font-weight: bold;
  color: white;
  font-family: 'Calibri';
  font-size: 15pt;
  background-color: #B3093F;
}

button:hover {
  border-style: unset;
  cursor: pointer;
  bottom: 50px;
  font-family: 'Calibri';
  font-size: 15pt;
  color: white;
  background-color: #B3093F;
}

input[type='file'] {
  display: none
}

.input-wrapper label {
  background-color: #3498db;
  border-radius: 5px;
  color: #fff;
  margin: 10px;
  padding: 6px 20px
}

.input-wrapper label:hover {
  background-color: #2980b9
}


