<fieldset>
    <h1>Adicionar Filme</h1>
    <form [formGroup]="formCadastrar" (ngSubmit)="submitForm()">
        <label><span>*</span>Título:</label><br>
        <input type="text" formControlName="titulo" class="campo"><br><br>
        <div *ngIf="formCadastrar.controls['titulo'].touched">
            <small *ngIf="formCadastrar.controls['titulo'].hasError('required') "><span>O título é
                    obrigatório!</span></small>
            <small *ngIf="formCadastrar.controls['titulo'].hasError('minlength') "><span>O título deve ter no mínimo 3
                    caracteres!</span></small>
        </div>

        <label><span>*</span>Ano de Lançamento:</label><br>
        <input type="number" formControlName="ano_lancamento" class="campo"><br><br>
        <div *ngIf="formCadastrar.controls['ano_lancamento'].touched">
            <small *ngIf="formCadastrar.controls['ano_lancamento'].hasError('required') "><span>O ano de lançamento é
                    obrigatório!</span></small>
        </div>

        <label for="genero"><span>*</span>Gênero:</label><br>
        <select formControlName="genero" name="genero" id="generoId" class="campo">
            <option></option>
            <option value="Ação">Ação</option>
            <option value="Animação">Animação</option>
            <option value="Aventura">Aventura</option>
            <option value="Comédia">Comédia</option>
            <option value="Dança">Dança</option>
            <option value="Documentário">Documentário</option>
            <option value="Drama">Drama</option>
            <option value="Espionagem">Espionagem</option>
            <option value="Ficção Científica">Ficção Científica</option>
            <option value="Musical">Musical</option>
            <option value="Romance">Romance</option>
            <option value="Terror">Terror</option>
            <option value="Thriller">Thriller</option>
        </select><br><br>
        <div *ngIf="formCadastrar.controls['genero'].touched">
            <small *ngIf="formCadastrar.controls['genero'].hasError('required') "><span>O gênero é
                    obrigatório!</span></small>
        </div>

        <label><span>*</span>Sinopse:</label><br>
        <textarea id="sinopse" formControlName="sinopse" rows="4" cols="80" placeholder="Descreva a Sinopse aqui"></textarea>
        <br><br>
        <div *ngIf="formCadastrar.controls['sinopse'].touched">
            <small *ngIf="formCadastrar.controls['sinopse'].hasError('required') "><span>A sinopse é
                    obrigatória!</span></small>
            <small *ngIf="formCadastrar.controls['sinopse'].hasError('minlength') "><span>A sinopse deve ter no mínimo 5
                    caracteres!</span></small>
        </div>

        <label formControlName="classificacao" for="classificacao"><span>*</span>Classificação
            Indicativa:</label><br>
        <select formControlName="classificacao" name="classificacao" id="classificacaoId" class="campo">
            <option></option>
            <option value="L">L</option>
            <option value="10">10</option>
            <option value="12">12</option>
            <option value="14">14</option>
            <option value="16">16</option>
            <option value="18">18</option>
        </select><br><br>
        <div *ngIf="formCadastrar.controls['classificacao'].touched">
            <small *ngIf="formCadastrar.controls['classificacao'].hasError('required') "><span>A classificação indicativa é
                    obrigatória!</span></small>
        </div>

        <label><span>*</span>Crítica:</label><br>
        <textarea id="critica" formControlName="critica" rows="4" cols="80" placeholder="Descreva sua Crítica aqui"></textarea>
        <br><br>
        <div *ngIf="formCadastrar.controls['critica'].touched">
            <small *ngIf="formCadastrar.controls['critica'].hasError('required') "><span>A crítica é
                    obrigatória!</span></small>
            <small *ngIf="formCadastrar.controls['critica'].hasError('minlength') "><span>A crítica deve ter no mínimo 5
                    caracteres!</span></small>
        </div>

        <label for="avaliacao"><span>*</span>Avaliação:</label><br>
        <select formControlName="avaliacao" name="avaliacao" id="avaliacaoId" class="campo">
            <option></option>
            <option value="Muito ruim">Muito Ruim</option>
            <option value="Ruim">Ruim</option>
            <option value="Bom">Bom</option>
            <option value="Muito bom">Muito Bom</option>
            <option value="Ótimo">Ótimo</option>
        </select><br><br>
        <div *ngIf="formCadastrar.controls['avaliacao'].touched">
            <small *ngIf="formCadastrar.controls['avaliacao'].hasError('required') "><span>A avaliação é
                    obrigatória!</span></small>
        </div>
        <br>
    
        <div class="input-wrapper">
            <label for="file">Inserir imagem do filme</label>
            <input type="file" required formControlName="imagemURL" id="file"/>
            <span id="file-name"></span>
          </div>
    
        <br><br>
        <div *ngIf="formCadastrar.controls['imagemURL'].touched">
            <small *ngIf="formCadastrar.controls['imagemURL'].hasError('required') "><span>A imagem é
                    obrigatória!</span></small>
        </div>
    
        <button type="submit">Salvar</button>
    </form>
</fieldset>